<div class="container">
      <div [ngClass] = "{'page-header-mobile' : (isHandset$ | async),'page-header' : !(isHandset$ | async) }">
        <p class="page-title">
          Education
        </p>        
      </div>
      <div class="page-content">
    
          <div class="experience-box">
            <div class="about-text">
              <p>Bla bla bla aaaaaaaaaaaa </p>                                         
            </div>
            <div class="experience-line-breaker"></div>
            <div class="experience-content"> 
                <p>aaaaaaaaaaaaaaaaaaaa</p>
                <p>aaaaaaaaaaaaaaaaaaaa</p>
                <p>aaaaaaaaaaaaaaaaaaaa</p>
                <p>aaaaaaaaaaaaaaaaaaaa</p>
                <p>aaaaaaaaaaaaaaaaaaaa</p>
                <p>aaaaaaaaaaaaaaaaaaaa</p>
                <p>aaaaaaaaaaaaaaaaaaaa</p>
                <p>aaaaaaaaaaaaaaaaaaaa</p>          
            </div>        
          </div>
          
          
          <div class="experience-box">
                <div class="about-text">
                  <p>Bla bla bla ssssssssss</p>                                         
                </div>
                <div class="experience-line-breaker"></div>
                <div class="experience-content"> 
                    <p>aaaaaaaaaaaaaaaaaaaa</p>
                    <p>aaaaaaaaaaaaaaaaaaaa</p>
                    <p>aaaaaaaaaaaaaaaaaaaa</p>
                    <p>aaaaaaaaaaaaaaaaaaaa</p>
                    <p>aaaaaaaaaaaaaaaaaaaa</p>
                    <p>aaaaaaaaaaaaaaaaaaaa</p>
                    <p>aaaaaaaaaaaaaaaaaaaa</p>
                    <p>aaaaaaaaaaaaaaaaaaaa</p>          
                </div>        
        </div>
      </div>
    </div>    