<div class="container">
  <div [ngClass] = "{'page-header-mobile' : (isHandset$ | async),'page-header' : !(isHandset$ | async) }">
    <p class="page-title">
      Education
    </p>        
  </div>
  <div class="page-content">
    <div class="experience-box">
      <div class="about-text">
        <p>Silesian University of Technology, Gliwice </p>                                         
      </div>
      <div class="experience-line-breaker"></div>
      <div class="experience-content"> 
        <div class="content-text-left">
          <p>02/2019 - 09/2020</p>
          <p>Faculty of Automatics, Electronics and Informatics</p>                    
        </div>
        <div class="experience-content-line-breaker"></div>
        <div class="content-text-right">
          <p>Masters of Automatics and Robotics</p>
          <p>Specialization: Measurement and Information Systems</p>    
          <p>Thesis: Identification of complex objects in astronomical images</p>              
        </div>   
       </div>               
    </div>
    <div class="experience-box">
      <div class="about-text">
        <p>Silesian University of Technology, Gliwice </p>                                         
      </div>
      <div class="experience-line-breaker"></div>
      <div class="experience-content"> 
        <div class="content-text-left">
          <p>10/2015 - 01/2019</p>
          <p>Faculty of Automatics, Electronics and Informatics</p>               
        </div>
        <div class="experience-content-line-breaker"></div>
        <div class="content-text-right">
          <p>Bachelor of Automatics and Robotics</p>
          <p>Specialization: Information Systems</p>      
          <p>Thesis: Safety control in SCADA systems using WinCC</p>              
        </div>   
       </div>               
    </div>
  </div>
</div>    