<div class="container">
     <div [ngClass] = "{'page-header-mobile' : (isHandset$ | async),'page-header' : !(isHandset$ | async) }">
        <h1 class="page-title">
             About Me
        </h1>        
      </div>

      <div class="page-content">
          <div class="welcome-box">
            <div class="about-text">
              <p> Hello, I am Mateusz. Welcome to my page.</p>
              <p> Hello, I am Mateusz. Welcome to my page.</p>
              <p> Hello, I am Mateusz. Welcome to my page.</p>
              <p> Hello, I am Mateusz. Welcome to my page.</p>
            </div>
            <div class="photo">
              <img  [src]="profilePicture" alt="Avatar" class="profile-image">
            </div>
          </div>        
        </div>    
 </div>