<div class="container">
  <div [ngClass] = "{'page-header-mobile' : (isHandset$ | async),'page-header' : !(isHandset$ | async) }">
    <p class="page-title">
          About Me
    </p>        
</div>

  <div class="page-content">
    <div class="about-box">
      <div class="about-text">
              <!-- <p> Hello, I am Mateusz. Welcome to my page.</p> -->
              <p> I am aspiring Full Stack Developer, creating software in various technologies,
                mostly .NET, HTML, CSS, and JS.
              </p>
              <p> My passion was always creating new things and watching them work. That's why my previous experience as automation engineer comes very handy, as i
                know how to make things done.
              </p>         
      </div>
      <div class="line-breaker">

      </div>
       <div class="photo">
         <img  [src]="profilePicture" alt="Avatar" class="profile-image">
        </div>
    </div>        
  </div>    
 </div>