<div class="container">
  <div [ngClass] = "{'page-header-mobile' : (isHandset$ | async),'page-header' : !(isHandset$ | async) }">
    <p class="page-title">
      About Me
    </p>        
  </div>
  <div class="page-content">
    <div class="about-box">
      <div class="about-text" style="justify-content: space-evenly;">
        <p> I am .NET developer, creating web and desktop applications in various technologies: .NET Core, .NET Framework, ASP.NET, WPF, Angular 2+ and SQL. 
            Backend is my way to go, but I had some opportunities regarding frontend development. I have also some fair experience creating Azure Devops pipelines(classic/YAML) 
            and Ansible Playbooks.            
            I graduated Silesian University of Technology with master's degree and have background in automation engineering.
        </p>
        <p> I like projecting new things, creating and implementing them to work as they supposed to.
      </p>
        <p> In my free time I like skiing, playing video games, printing 3D models, doing some IoT/electronic stuff and building LEGO sets.
        </p>         
      </div>
      <div class="line-breaker"></div>
      <div class="photo">
        <img  [src]="profilePicture" alt="Avatar" class="profile-image">
      </div>
    </div>        
  </div>    
</div>