<div class="container">
  <div [ngClass] = "{'page-header-mobile' : (isHandset$ | async),'page-header' : !(isHandset$ | async) }">
    <p class="page-title">
      Experience
    </p>        
  </div>
  <div class="page-content">
    <div class="experience-box">
      <div class="about-text">
        <p>Automation Engineer - PLC Programmer</p>                                         
      </div>
      <div class="experience-line-breaker"></div>
      <div class="experience-content"> 
        <div class="content-text-left">       
            <p>07/2019 - 07/2020</p>   
            <p>Soning Sp. z. o. o. , Rybnik</p>                                    
        </div>
        <div class="experience-content-line-breaker"></div>
        <div class="content-text-right">
          <p>Created software for PLC controllers.</p>
          <p>Implemented HMI visualizations and SCADA systems.</p>
          <p>Quality Assurance and testing of provided machines.</p>
          <p>Documented and optimized implemented automation solutions.</p>
        </div>   
       </div>               
    </div>
    <div class="experience-box">
      <div class="about-text">
        <p>Intern in technology department </p>                                         
      </div>
      <div class="experience-line-breaker"></div>
      <div class="experience-content"> 
        <div class="content-text-left">
          <p>07/2018 - 08/2018</p>    
          <p>Tyskie Browary Książece, Tychy</p>          
        </div>
        <div class="experience-content-line-breaker"></div>
        <div class="content-text-right">
          <p>Modelled 3D details in Autodesk Inventor.</p>
          <p>Calibrated sensons and measurement systems.</p>
          <p>Organized technical library and it's documentation.</p>
      </div>        
    </div>
  </div>
</div>    