<div class="container">
  <div [ngClass] = "{'page-header-mobile' : (isHandset$ | async),'page-header' : !(isHandset$ | async) }">
        <p class="page-title">
              Projects
        </p>        
  </div>
  <div class="page-content">         
    <div class="about-box">
      <div class="about-text">
        <div class="text-decorator">
           Online-Refrigerator
        </div>      
        <p>Online-Refrigerator is a web app that allows user to add/modify/view ingredients and recipes. Also it provides a recipe search based on content of his/her refrigerator.</p>
      
        <div class="text-decorator">
            Technologies/Patterns used
        </div>
        <ul>
          <li>
            APS.NET MVC
          </li>
          <li>
            C#, HTML, JS, CSS
          </li>
          <li>
          .NET Core 3.1
          </li>
          <li>
            Entity Framework Core 6
          </li>
          <li>
            MS SQL
          </li>
        </ul> 
      </div>
      <div class="line-breaker"></div>
      <div class="project-photo">
        <img  [src]="profilePicture" alt="Avatar" class="profile-image">
          <div class="project-buttons">
            <div class="project-item">
              <a href="https://www.github.com/matchodura/" target="_blank">View live</a>
            </div>
            <div class="project-item">
              <a href="https://www.github.com/matchodura/" target="_blank">View source</a>
            </div>
          </div>
            <!-- <div class="project-item-tag">...</div> -->
            <!-- <div class="project-photo-content">
              <div class="project-item">
                  <a href="https://www.github.com/matchodura/" target="_blank">View live</a>
              </div>
              <div class="project-item">
                  <a href="https://www.github.com/matchodura/" target="_blank">View source</a>
              </div>
            </div>       -->

           
            <!-- <div class="project-button">
            <a href="https://www.github.com/matchodura/" target="_blank">View live</a>
             </div>
            <div class="project-button">
              <a href="https://www.github.com/matchodura/" target="_blank">View source</a>
            </div> -->
      </div>  
    </div>
    <div class="about-box">
      <div class="about-text">
        <div class="text-decorator">
           BodyMonitorApp
        </div>      
        <p>BodyMonitorApp is a Windows desktop app that allows for users to monitor and record their body progress. It's a tool that was mostly made with users that are
          trying to lose some weight or gain muscle mass.</p>     
        <div class="text-decorator">
            Technologies/Patterns used
        </div>
        <ul>
          <li>
            C#
          </li>
          <li>
            .NET Framework
          </li>
          <li>
              WPF
          </li>
          <li>
            MS SQL
          </li>
          <li>
            Entity Framework
          </li>           
          <li>
            MVVM
          </li>
        </ul> 
      </div>
      <div class="line-breaker"></div>
      <div class="project-photo">
        <img  [src]="profilePicture" alt="Avatar" class="profile-image">
        <div class="project-buttons">
          <div class="project-item">
            <a href="https://www.github.com/matchodura/" target="_blank">View live</a>
          </div>
          <div class="project-item">
            <a href="https://www.github.com/matchodura/" target="_blank">View source</a>
          </div>
        </div>  
      </div>  
    </div>
    <div class="about-box">
      <div class="about-text">
        <div class="text-decorator">
           Messier Object Identification
        </div>      
        <p>Messier Object Identification program was a part of my Master's Degree thesis. It's main purpose is recognizing provided photos of space objects a.k.a Messier Objects,
          and providing propability of correct guess in percents(0-100%). </p>

     
        <div class="text-decorator">
            Technologies used
        </div>
        <ul>
          <li>
            Python 
          </li>
          <li>
            Tensorflow
          </li>          
          <li>
           Keras
          </li>
          <li>
            PyQt
          </li>
          <li>
            Scipy, Numpy
         </li>
        </ul> 
      </div>
      <div class="line-breaker"></div>
      <div class="project-photo">
        <img  [src]="profilePicture" alt="Avatar" class="profile-image">
        <div class="project-buttons">
          <div class="project-item">
            <a href="https://www.github.com/matchodura/" target="_blank">View live</a>
          </div>
          <div class="project-item">
            <a href="https://www.github.com/matchodura/" target="_blank">View source</a>
          </div>
        </div>
            <!-- <div class="project-item-tag">...</div>
            <div class="project-photo-content">
              <div class="project-item">
                  <a href="https://www.github.com/matchodura/" target="_blank">View live</a>
              </div>
              <div class="project-item">
                  <a href="https://www.github.com/matchodura/" target="_blank">View source</a>
              </div>
            </div>      
            </div>   -->
            
     </div>
    </div>
    <div class="about-box">
      <div class="about-text">
        <div class="text-decorator">
           Profile Web App
        </div>      
        <p>Profile Web App is an Angular project about my personal home page containg informations about my person, my work, experience or education.
           It's second purpose besides creating profile page was to improve my skills in frontend technologies.</p>
        <div class="text-decorator">
            Technologies used
        </div>
        <ul>
          <li>
           Angular 11
          </li>
          <li>
           TypeScript 4
          </li>
          <li>
            HTML 5
          </li>
          <li>
            SCSS
          </li>
          <li>
            Node.js
          </li>
        </ul> 
      </div>
      <div class="line-breaker"></div>
      <div class="project-photo">
            <img  [src]="profilePicture" alt="Avatar" class="profile-image">
            <!-- <div class="project-item-tag">...</div>
            <div class="project-photo-content">
              <div class="project-item">
                  <a href="https://www.github.com/matchodura/" target="_blank">View live</a>
              </div>
              <div class="project-item">
                  <a href="https://www.github.com/matchodura/" target="_blank">View source</a>
              </div>
            </div>       -->
            <div class="project-buttons">

              <div class="project-item">
                <a href="https://www.github.com/matchodura/" target="_blank">View live</a>
              </div>

              <div class="project-item">
                <a href="https://www.github.com/matchodura/" target="_blank">View source</a>
              </div>
             
             
            </div>
          </div>  
    </div>
    </div>
</div>