.project-buttons {
  display: flex;
  flex-direction: row;
}


.project-item {
  background-color: #2a1b3d;
  padding: 5 5 5 5;
  color: white;
  text-align: center;
  margin: 20;
  width: auto;
}


.project-item:hover {
  background-color: green;
}


.project-item-tag {  
  position: absolute;  
  z-index: 1000;
  background-color: black; 
  color: #FFFFFF;
  font-weight: bold;
  opacity: 1;
}