<div class="container">
  <div [ngClass] = "{'page-header-mobile' : (isHandset$ | async),'page-header' : !(isHandset$ | async) }">
    <p class="page-title">
      Projects
    </p>        
  </div>
  <div class="page-content">        
    <div class="about-box">
      <div class="about-text">
        <div class="text-decorator">
          Home Automation
        </div>   
        <p>Home Automation is an application used as "Smart Home" implementation. It is currently being developed using microservices pattern.</p>
        <div class="text-decorator">
          Technologies/Patterns used
        </div>
        <ul>
          <li>
            .NET 6
          </li>
          <li>
            Angular
          </li>
          <li>
            MS SQL
          </li>
        </ul> 
        <div class="text-decorator">
          Main Functions
        </div>
        <ul>
          <li>
            Gathering sensor data and displaying those
          </li>
          <li>
            Controlling of switches, lamps and curtains
          </li>    
          <li>
            Camera monitoring 
          </li>
          <li>
            Live view on website
          </li>     
          <li>
            Custom software written for ESP8266 microcontroller
          </li>     
        </ul> 
      </div>
      <div class="line-breaker"></div>
      <div class="project-photo">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="onlineRefrigerator[0]"  alt="Angular Carousel 1">
            </div>       
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="onlineRefrigerator[1]"  alt="Angular Carousel 2">
            </div>          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="onlineRefrigerator[2]"  alt="Angular Carousel 2">
            </div>          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="onlineRefrigerator[3]"  alt="Angular Carousel 2">
            </div>          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="onlineRefrigerator[4]"  alt="Angular Carousel 2">
            </div>          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="onlineRefrigerator[5]"  alt="Angular Carousel 2">
            </div>          
          </ng-template>       
        </ngb-carousel>
          <div class="project-buttons">
            <div class="project-item">
              <a href="https://onlinerefrigerator.azurewebsites.net/" target="_blank">View live</a>
            </div>
            <div class="project-item">
              <a href="https://github.com/matchodura/OnlineRefrigerator" target="_blank">View source</a>
            </div>
          </div>           
      </div>  
    </div> 
    <div class="about-box">
      <div class="about-text">
        <div class="text-decorator">
          Online-Refrigerator
        </div>   
        <p>Online-Refrigerator is a web app developped in ASP.NET Core in MVC pattern that allows user to find recipes based on provided ingredients. It is an app to help with making up an idea for dinner or other meal.
           It provides adding and viewing items in ingredients and recipes base, with side functions like ranking or calorie calculator.</p>
        <div class="text-decorator">
          Technologies/Patterns used
        </div>
        <ul>
          <li>
            APS.NET MVC
          </li>
          <li>
            C#, HTML, JS, CSS
          </li>
          <li>
          .NET Core 3.1
          </li>
          <li>
            Entity Framework Core 6
          </li>
          <li>
            MS SQL
          </li>
        </ul> 
        <div class="text-decorator">
          Main Functions
        </div>
        <ul>
          <li>
            Responsive Web App with CRUD operations
          </li>
          <li>
            AJAX calls for searching and sorting to improve user experience
          </li>    
          <li>
            Adding ingredients and recipes
          </li>
          <li>
            Finding recipes based on provided ingredients
          </li>
          <li>
            Calculating nutritional values of ingredients
          </li>
          <li>
            Rating recipes by users
          </li>         
        </ul> 
      </div>
      <div class="line-breaker"></div>
      <div class="project-photo">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="onlineRefrigerator[0]"  alt="Angular Carousel 1">
            </div>       
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="onlineRefrigerator[1]"  alt="Angular Carousel 2">
            </div>          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="onlineRefrigerator[2]"  alt="Angular Carousel 2">
            </div>          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="onlineRefrigerator[3]"  alt="Angular Carousel 2">
            </div>          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="onlineRefrigerator[4]"  alt="Angular Carousel 2">
            </div>          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="onlineRefrigerator[5]"  alt="Angular Carousel 2">
            </div>          
          </ng-template>       
        </ngb-carousel>
          <div class="project-buttons">
            <div class="project-item">
              <a href="https://onlinerefrigerator.azurewebsites.net/" target="_blank">View live</a>
            </div>
            <div class="project-item">
              <a href="https://github.com/matchodura/OnlineRefrigerator" target="_blank">View source</a>
            </div>
          </div>           
      </div>  
    </div>
    <div class="about-box">
      <div class="about-text">
        <div class="text-decorator">
           BodyMonitorApp
        </div>      
        <p>BodyMonitorApp is a Windows desktop app created with WPF in MVVM pattern that allows for users to record their body progress.
           It's a tool created with users that are trying to lose weight or gain muscle mass in mind. App works fully offline, as data is stored in local database, allowing to see some charts even with internet off!</p>     
        <div class="text-decorator">
            Technologies/Patterns used
        </div>
        <ul>
          <li>
            C#
          </li>
          <li>
            .NET Framework
          </li>
          <li>
            WPF
          </li>
          <li>
            MS SQL
          </li>
          <li>
            ADO.NET
          </li>           
          <li>
            MVVM
          </li>
        </ul> 
        <div class="text-decorator">
          Main Functions
        </div>
        <ul>
          <li>
            Creating and updating user account with full validation
          </li>
          <li>
            Adding and editing values of body parts like chest, biceps, hips and more
          </li>
          <li>
            Displaying records on chart in timespans : year, month, week
          </li>
          <li>
            Catalogue of exercices for selected body parts with youtube videos
          </li>         
        </ul> 
      </div>
      <div class="line-breaker"></div>
      <div class="project-photo">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="bodyMonitorApp[0]"  alt="Angular Carousel 1">
            </div>       
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="bodyMonitorApp[1]"  alt="Angular Carousel 2">
            </div>          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="bodyMonitorApp[2]"  alt="Angular Carousel 3">
            </div>          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="bodyMonitorApp[3]"  alt="Angular Carousel 4">
            </div>          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="bodyMonitorApp[4]"  alt="Angular Carousel 5">
            </div>          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="bodyMonitorApp[5]"  alt="Angular Carousel 6">
            </div>          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="bodyMonitorApp[6]"  alt="Angular Carousel 7">
            </div>          
          </ng-template>     
        </ngb-carousel>
        <div class="project-buttons">
          <!-- <div class="project-item">
            <a href="https://www.github.com/matchodura/" target="_blank">View live</a>
          </div> -->
          <div class="project-item">
            <a href="https://github.com/matchodura/BodyMonitorApp" target="_blank">View source</a>
          </div>
        </div>  
      </div>  
    </div>
    <div class="about-box">
      <div class="about-text">
        <div class="text-decorator">
           Messier Object Identification
        </div>      
        <p>Messier Object Identification program was a part of my Master's Degree thesis. It's main purpose is recognizing provided photos of space objects a.k.a Messier Objects,
          and providing propability of correct guess in percents(0-100%). Classifier used in application is Convolutional Neural Network created as Keras model with Tensorflow.
          Besides that, program provides some image processing tools and full Messier catalogue.</p>     
        <div class="text-decorator">
            Technologies used
        </div>
        <ul>
          <li>
            Python 
          </li>
          <li>
            Tensorflow
          </li>          
          <li>
           Keras
          </li>
          <li>
            PyQt
          </li>
          <li>
            Scipy, Numpy
         </li>
        </ul> 
        <div class="text-decorator">
          Main Functions
        </div>
        <ul>
          <li>
            Finding propability of Messier Objects based on provided image
          </li>
          <li>
            Editing and creating new Convolutional Neural Network Model
          </li>
          <li>
            Image processing operations - converting to grayscale, resizing, noising
          </li>
          <li>
            Viewing full catalogue of Messier Objects with trivia about them
          </li>         
        </ul> 
      </div>
      <div class="line-breaker"></div>
      <div class="project-photo">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="messier[0]"  alt="Angular Carousel 1">
            </div>       
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="messier[1]"  alt="Angular Carousel 2">
            </div>          
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="messier[2]"  alt="Angular Carousel 2">
            </div>          
          </ng-template>
        </ngb-carousel>
        <div class="project-buttons">
          <!-- <div class="project-item">
            <a href="https://www.github.com/matchodura/" target="_blank">View live</a>
          </div> -->
          <div class="project-item">
            <a href="https://github.com/matchodura/Messier-Object-Identification" target="_blank">View source</a>
          </div>
        </div>     
     </div>
    </div>   
  </div>
</div>