<div class="container">
  <div [ngClass] = "{'page-header-mobile' : (isHandset$ | async),'page-header' : !(isHandset$ | async) }">
        <h1 class="page-title">
              Contact
        </h1>        
  </div>

  <div class="page-content">
      <div class="welcome-box">
      
          
            <div class="item">
                  <a href="mailto:mat.chodura@gmail.com" target="_blank"><i class="fa fa-fw fa-at"></i>mat.chodura@gmail.com</a>
            </div> 

               <div class="item">
                  <a href="https://www.linkedin.com/in/mateuszchodura/" target="_blank"><i class="fa fa-fw fa-linkedin"></i>linkedin.com/in/mateuszchodura/</a> 
               </div>
                   
            <div class="item">
               <a href="https://www.github.com/matchodura/" target="_blank"><i class="fa fa-fw fa-github"></i>github.com/matchodura/</a>
            </div>
              
                    
           



        
      </div>        
    </div>

 </div>