.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 20%;
}

.sidenav .mat-toolbar {
 
  background-color: yellow;
  
  height: 15%;
  
.header{
    
  width: 100%;
  height: 100%;        
  
  .background-image{
      
      height: 100%;
      width: 100%;
      background-image: url(/assets/img/background.jpg);
      
      background-repeat: no-repeat;
      background-size: cover;
     
      position: relative;

      img{
        
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;

          border-radius: 50%;
          border: 2px solid blueviolet;
      }
    }
  }

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar{
  a{
    text-decoration: none;
  }
}