@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body {
    min-height: 100%;
    margin: 0;
    font-family: 'Roboto','sans-serif';
    font-size: 18px;
}


.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
  }


.page-header {
    // background-color: darken($color: #44318D, $amount: 10);
    background-color: #D83F87;
    height: 90px;
    width: 100%;  
    top: 0;
    position: absolute;


    .page-title{
        color: white;
        position: relative;
        margin-left: 30px;
        font-size: 32px;    
    }    
}


.page-header-mobile {
    background-color: #D83F87;
    height: 50px;
    width: 100%;  
    position: absolute;
    top: 50px;
    

    .page-title{ 
        color: white;
        position: relative;
        margin-left: 30px;
        font-size: 20px;
    
    }    
}


.page-content{
    top: 0px;
    min-height: 100%;
}

.container { 
    min-height: 100%;
    min-width: 100%;
    // background-color: #8265a7;
    // background-color: darken($color: #a4b3b6, $amount: 0);
    // background-color: darken($color: #44318D, $amount: 0);
 
    
    background-size: 25px 25px;
    background-color: darken($color: #2A1B3D, $amount: 5);  
    background-image:
    linear-gradient(to right, darken($color: #2A1B3D, $amount: 10) 1px, transparent 1px),
    linear-gradient(to bottom,darken($color: #2A1B3D, $amount: 10) 1px, transparent 1px);


    p {
    padding:0;
    margin: 0;
    color:white;
    }
}

$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$other: "(min-width: 361px) and (max-width: 767px)";
$small-phone: "(min-width: 300px) and (max-width: 360px)";

@media #{$desktop}{
    a {
        font-size: 24px;
    }
    
    h3{

        font-size: 6vw;
    }
}

@media #{$tablet}{
    a {
        font-size: 20px;
    }
    h3{

        font-size: 6vw;
    }
}


@media #{$small-phone}{
    a {
        font-size:18px;
    }
    h3{

        font-size: 8vw;
    }
}
@media #{$other }{
    a {
        font-size:18px;
    }
    h3{

        font-size: 7vw;
    }
}






