html, body{
    min-height: 100%;
    margin: 0;
    font-family: 'Roboto','sans-serif';
    font-size: 18px;
}


.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
  }

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.page-header{

    height: 50px;
    width: 100%;
    background-color: yellow;
    // position: fixed;
}
.page-content{

    top:0px;
}