<div class ="page-container">

    <div class="sidebar">
        <div class="header">
               <div class="background-image">
                    <div class="profile-image">
                          <img  [src]="profilePicture" alt="Avatar" class="profile-image">
                    </div>                                      
               </div>
        </div>

        <div class="list-items">
           
           <a routerLink = "/" routerLinkActive="selected" class="list-item"><i class="fa fa-fw fa-home"></i>Home</a>
           <a routerLink = "/about" routerLinkActive="selected" class="list-item"><i class="fa fa-fw fa-user"></i>About</a>

       
           <div (mouseenter)="viewProjects=true" (mouseleave)="viewProjects=false">
            <a routerLink = "/projects" routerLinkActive="selected" class="list-item"><i class="fa fa-fw fa-wrench"></i>Projects</a>
           

      

            <span *ngIf="viewProjects">
                     <a routerLink = "/projects" routerLinkActive="selected" class="list-item-options"><i class="fa fa-fw fa-circle"></i>Projects</a>
            </span>

            <span *ngIf="viewProjects">
                <p (click)="getDiv()" {} class="list-item-options"><i class="fa fa-fw fa-circle"></i>Projects</p>
                
            </span>

            <span *ngIf="viewProjects">
                <a routerLink = "/projects" routerLinkActive="selected" class="list-item-options"><i class="fa fa-fw fa-circle"></i>Projects</a>
            </span>

         </div>
      


        
           <a routerLink = "/contact" routerLinkActive="selected" class="list-item"><i class="fa fa-fw fa-envelope"></i>Contact</a>         
           
           
           
          
        </div>
        
    </div>

    

    <div class="page-content-container">
        <div class="page-content-header">            
        </div>

        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
        
    </div>
        
</div> 


