.container { 
    min-height: 100%;
    width: 100%;
    // background-color: #8265a7;
    // background-color: darken($color: #a4b3b6, $amount: 0);
    background-color: darken($color: #44318D, $amount: 0);
 
    
    p{
    padding:0;
    margin: 0;
    }
}