.home-box {
  width: auto;
  padding: 5px;
  margin-top:8.5%;
  margin-left: 5vw;
  margin-right: 5vw;;
  margin-bottom:10%;
  background: #8265a7;
  color: white;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5), 0 20px 20px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: left;
  align-items: center;  
}


.welcome-text-decorator {
  width: fit-content;
  border-bottom: 20px solid;
  border-color: darken($color: #2A1B3D, $amount: 10);   
  padding-bottom: 5px;
}