<!-- <div class ="page-container">

    <div class="sidebar">
        <div class="header">
               <div class="background-image">
                    <div class="profile-image">
                          <img  [src]="profilePicture" alt="Avatar" class="profile-image">
                    </div>                                      
               </div>
        </div>

        
        <div class="items-list">
           
          <div class="item-container">
              <div class="item">             
                  <a routerLink = "/" routerLinkActive="selected"><i class="fa fa-fw fa-home"></i>Home</a>
              </div>
          </div>

          <div class="item-container">
             <div class="item">
                  <a routerLink = "/about" routerLinkActive="selected"><i class="fa fa-fw fa-user"></i>About</a>
             </div>
          </div>

          <div class="item-container">
             <div class="item">
                  <a routerLink = "/projects" routerLinkActive="selected"><i class="fa fa-fw fa-tasks"></i>Projects</a> 
             </div>
          </div>

          <div class="item-container">
              <div class="item">
                 <a routerLink = "/skills" routerLinkActive="selected"><i class="fa fa-fw fa-wrench"></i>Skills</a> 
              </div>
          </div>

          <div class="item-container">
            <div class="item">
                  <a routerLink = "/contact" routerLinkActive="selected"><i class="fa fa-fw fa-envelope"></i>Contact</a>   
            </div>      
          </div>       

        </div>
                
        <div class="contact">

            <div class="icon">
                <a href="https://www.linkedin.com/in/mateuszchodura/" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>                
            </div>
            
            <div class="icon">
                <a href="https://www.github.com/matchodura/" target="_blank"><i class="fa fa-fw fa-github"></i></a>
            </div>                 
                                     
         </div>
    </div>

    

    <div class="page-content-container">
        <div class="page-content-header">            
        </div>

        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
        
    </div>
        
</div> 

 -->
 <div class="container">
    <p>dupa home</p>
 </div>
