// .page-container{
//     display: flex;
//     height: 100%;
//     // background: rgb(35,42,58);
//     background: grey;

//     .sidebar {
        
//         height: 100%;
//         width: 15%;               
//         top: 0;
//         left: 0;
//         background-color: white;
        
//         padding-top: 0px;
        
        
//         display:flex;
//         flex-direction: column;

//         .header{
           
//             width: 100%;
//             height: 15%;        
            
//             .background-image{
                
//                 height: 100%;
//                 width: 100%;
//                 background-image: url(/assets/img/background.jpg);
                
//                 background-repeat: no-repeat;
//                 background-size: cover;
               
//                 position: relative;
    
//                 img{
                  
//                     max-height: 60%;
//                     max-width: 60%;
//                     width: auto;
//                     height: auto;
//                     position: absolute;
//                     top: 0;
//                     bottom: 0;
//                     left: 0;
//                     right: 0;
//                     margin: auto;
    
//                     border-radius: 50%;
//                     border: 2px solid blueviolet;
//                 }
    
               
//             }                           
            
//         } 

//         .items-list{

//             width:100%;
//             height:35%;
//             display: flex;        
//             align-items: center;
//             flex-wrap: wrap;
//             align-content: space-between;
//             // flex-direction: column;
            
//             // justify-content: left;

//             // position: absolute;

//             .item-container{
//                 width: 100%;
//                 background-color: green;

//                 .item{
          
                    
//                     font-size: 1em;
//                     color:black;
//                     padding: 0px 0px;
    
//                     cursor: pointer;

//                     a{
//                         text-decoration: none;
//                     }
                            
//                 }
//             }
           
//         }       
        
        
//         .item:hover{
    
//             background-color: lightcyan;
                    
//         }

        // .list-item::before{
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     height: 100%;
        //     width: 2%;
        //     background-color: black;

        //     opacity: 0;
        //     transform: scaleY(0);

        //     transition: transform 0.2s, opacity 0.2s ;
        // }
     
        // .list-item:hover::before{
        //     opacity: 1;
        //     transform: scaleY(1);            
        // }

    //     .contact{
           
    //         width: 100%;
    //         height: 5%;
            
    //         display:flex;
    //         flex-direction: column;
    //         flex-wrap: wrap;
    //         align-items: center;  
    //         justify-content:space-between;

    //         margin: auto;
    //         padding: 0;
    //         border-style: solid;
    //         border-color:cadetblue;

                     

    //         .icon{
    //             flex-grow: 1;
    //             text-align: center;
                
    //         }

    //         .icon:hover{

    //             color:white;

    //         }
            
            
    //     }

    //   }






//     .page-content-container{

//         width: 100%;
//         height: 100%;
    
//         .page-content-header{
//             top:0;

//             height: 15%;
//             width: 100%;
            
//             background-color: yellow;
           
//         }
    
//         .page-content{
    
//             width: 100%;
//             height: 85%;
//             padding: 0;
//             background-color: brown;
           
//         }
    
//     }

// }



  

.container{
    min-height: 100%;
    width: 100%;
    background-color: red;
    
    p{
    padding:0;
    margin: 0;
    }
}